.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    height: 700px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f5f5f5; 
    justify-content: center;
  }
  
  .product-image {
    max-width: 85%;
    max-height: 380px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  .product-info {
    text-align: center;
    color: #333; /* Darker gray text color */
  }
  
  .product-title {
    margin-bottom: 5px;
    font-size: 18px; /* Increase title font size */
  margin-bottom: 10px; /* Add more space after title */
  }
  
  .product-description {
    margin-bottom: 10px;
  }
  
  .product-price {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold; /* Make price text bold */
    margin-bottom: 0; /* Remove bottom margin for tighter spacing */
    color: #e97436; /* Example: Use an orange color for the price */
  }