.empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
  }