:root {
  --logo-color: #0159B6;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: transparent; 
  padding: 8px;
  margin-left: 20px;
}

.search-bar input {
  font-size: 14px;
  height: 45px;
  padding: 10px;
  margin-right: -35px;
  outline: none;
  border-radius: 30px;
  border: 3px solid white;
  box-sizing: border-box; 
  background-color: transparent;
  color: white;
}

.search-bar input::placeholder {
  color: white;
}

.search-bar button svg {
  margin-bottom: 1px;
}

.search-bar button {
  margin-top: auto;
  margin-bottom: auto;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 0;
}

.search-bar button:hover {
  color: var(--hover-color);
  transition: color ease 0.2s;
}