:root {
  --logo-color: #0159B6;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: transparent; 
  padding: 8px;
  margin-left: 20px;
}

.search-bar input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #eee; 
  outline: none;
}

.search-bar button {
  margin-top: auto;
  margin-bottom: auto;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 0;
}

.search-bar button:hover {
  color: #ff4500;
  transition: color ease 0.2s;
}